body {
    scroll-behavior: smooth;
}

.first__section{
    display: flex;
    align-items: center;
    background-image: linear-gradient(40deg, rgba(32, 150, 255, .6), rgba(5, 255, 163, .7)), url('/static/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.order_btn{
    max-width: 230px;
}

.number{
    display: flex;
    align-items:center;
    justify-content:center;
    min-width:50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    background-image: linear-gradient(40deg, #2096ff, #05ffa3);
    margin-right: 20px;
    color:white;
    border-radius: 100px;
}

.ourwork{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.ourwork:nth-child(n){
    justify-content: flex-end
}

.ourwork:nth-child(2n){
    justify-content: flex-start
}

.description{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.swiper-slider{
    min-width: 200px;
    max-width: 300px;
    height: auto;
}

.swiper-wrapper{
    padding: 1rem .02rem
}

.swiper-slider>.card{
    height: 100%;
    display: flex;
}

.swiper-slider>.card>.card-body{
    font-weight: unset;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end
}

.phone_block{
    background-image: linear-gradient(40deg, rgba(32, 150, 255, .6), rgba(5, 255, 163, .7)), url('/static/img/phone_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.phone_block__input{
    max-width: 300px;
    height: auto;
    margin-right: 1rem;
}

.social_btn{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
}

.black-text, .btn.btn-link {
    color: white !important;
}

.modal-title{
    font-size: 21px;
}

.notifications{
    display: flex;
    position: fixed;
    bottom: 5%;
    right: 5%;
    max-width: 350px;
    z-index: 99999;
}

.notification{
    color: white;
    display: flex;
    align-items:center;
    padding: 15px 10px;
    border-radius: 5px;
}

.notification__icon{
    margin-right: 15px;
}


@media screen and (max-width: 768px){
    .mobile__btn{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }  
}